@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

/* Navbar */
.header {
  width: 100%;
}

.Navbar {
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar-left img {
  height: 40px;
}

.Navbar-mid {
  display: flex;
  gap: 28px;
}

.Navbar-mid a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.Navbar-mid a:hover {
  color: #000;
}

.Navbar-right {
  display: flex;
  align-items: center;
}

.btn {
  background-color: #469165;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.btn:hover {
  cursor: pointer;
  border-top: 3px solid #469165;
  border-radius: 0;
  border-bottom: 3px solid #469165;
  background-color: rgba(73, 68, 68, 0.123);
  color: black;
  transition: 0.3s;
  font-weight: 600;
}

/* Hero-Section */
.hero-section {
  background-image: url(../assets/hero-bg.png);
  height: 698px;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.p1 {
  background-color: white;
  padding: 5px;
  color: green;
  border-radius: 7px;
}
.hero-section-h1,
span {
  font-size: 72px;
  font-weight: 600;
  color: white;
}
span {
  color: #30b868;
}
.p2 {
  color: white;
}
.double-btn {
  display: flex;
  gap: 30px;
}
.arrow-btn {
  display: flex;
  align-items: center;
  color: white !important;
  font-weight: 600;
}
.play-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid white;
  color: white;
  background: none;
  padding: 5px;
}

.play-btn:hover {
  cursor: pointer;
  border-top: 3px solid #469165;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 3px solid #469165;
  background-color: rgba(73, 68, 68, 0.123);
  color: white;
  transition: 0.3s;
  font-weight: 600;
}

/* Notes section */
.notes-section {
  padding: 60px 0px;
}
.notes-section > h1 {
  text-align: center;
  font-size: 48px;
}
.notes-section > p {
  text-align: center;
  tab-size: 16px;
}